.pos .kitchen-screen {
    color: black;
    font-weight: bold;
    background: #F0EEEE;
}
.k-top-content {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 64px;
    border-bottom: dashed 1px rgb(215,215,215);
    text-align: center;
}

.span-title {
    font-size: 20px;
    font-weight: bold;
}
.k-heading{
    font-size: 28px;
}

.mt8 {
    margin-top: 8px;
}
.mb8 {
    margin-bottom: 8px;
}
.ml8 {
    margin-left: 8px;
}
.mr8 {
    margin-right: 8px;
}

.k-right {
    right: 0;
    margin-right: 16px;
}
.kitchen-order {
    margin-bottom: 10px;
    word-break: break-all;
}
.k-order-heading {
    border: 5px solid rgb(224, 199, 199);
}

.k-orderline-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
    border: 5px solid rgb(224, 199, 199);
}
.k-orderline-list thead > tr,
.k-orderline-list tfoot > tr {
    background: rgb(224, 199, 199);
}
.k-orderline-list thead > tr,
.k-orderline-list tfoot > tr {
    background: rgb(224, 199, 199);
}

/*.k-orderline-list thead > tr > th,
.k-orderline-list thead > tr > td,*/
.pos .clientlist-screen .k-orderline-list tr:nth-child(even) {
    background: rgb(247,247,247);
}

.k-orderline-list th,
.k-orderline-list td {
    padding: 0px 10px;
    font-size: 16px;
}

.k-table-number {
    /*width: 10%;*/
    /*border: 2px solid black;*/
    text-align: center;
    float: left;
    font-size: 38px;
}
.font34 {
    font-size: 34px;
}
.font24 {
    font-size: 24px;
}
.font22 {
    font-size: 22px;
}
.font20 {
    font-size: 20px;
}
.font16 {
    font-size: 16px;
}

.k-order-title {
    padding: 0px 5px;
    float: left;
    text-align: left;
}

.width40 {
    width: 39%;
    margin: 2px;
}

.width20 {
    width: 19%;
    margin: 2px;
}

small {
    font-size: 14px;
}

.vrow {
    clear: both;
    display: flex;
}

.vcenter {
    text-align: center;
}

.refresh {
    right: 0;
}

.k-table-row {
    line-height: 35px;
    border-bottom: 2px solid rgb(224, 199, 199);
}

.pos button.k-state-btn {
    font-size: 14px
}

.pos button.k-state-btn.active {
    color: white;
    background: blue;
    font-weight: bold;
}

.rightpane_resize{
    margin: 0px auto;
    height: 100%;
    overflow: hidden;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
}

.pos .order .orderlines .orderline-state{
    float: right;
    font-weight: bold;
    text-transform:capitalize;
}
.pos .order .orderlines .orderline-state.active{
    color: #6EC89B;
}